In [2]:
# If you see a test failure when checking your solution,
# note that [left] refers to YOUR code while [right]
# refers to the correct code that the computer is comparing
# to your work

# Let's start by importing pandas below
import pandas as pd

In [4]:
# This challenge includes a billboard.csv dataset.
# It is a list of the top-selling albums of all time according to Billboard
# The dataset has 5 columns:
# Artist,Album,Released,Genre,Sales
# Import the billboard.csv file into a DataFrame. 
# Assign the imported DataFrame to an 'billboard' variable.
billboard = pd.read_csv('billboard.csv')
billboard.head()

,Artist,Album,Released,Genre,Sales
0,Michael Jackson,Thriller,1982,"Pop, post-disco, funk, rock",70
1,AC/DC,Back in Black,1980,Hard rock,50
2,Whitney Houston,The Bodyguard,1992,"R&B, soul, pop, soundtrack",45
3,Meat Loaf,Bat Out of Hell,1977,"Hard rock, glam rock, progressive rock",44
4,Eagles,Their Greatest Hits (1971–1975),1976,"Country rock, soft rock, folk rock",44

In [5]:
billboard.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Artist    81 non-null     object
 1   Album     81 non-null     object
 2   Released  81 non-null     int64
 3   Genre     81 non-null     object
 4   Sales     81 non-null     int64
dtypes: int64(2), object(3)
memory usage: 3.3+ KB

In [7]:
# CHALLENGE 1
# Find all records with an Artist of either Michael Jackson,
# Whitney Houston, or Celine Dion. Assign the resulting 
# DataFrame to a "trios" DataFrame.
target_artists = billboard['Artist'].isin(['Michael Jackson','Whitney Houston', 'Celine Dion'])
trios = billboard[target_artists]
trios

,Artist,Album,Released,Genre,Sales
0,Michael Jackson,Thriller,1982,"Pop, post-disco, funk, rock",70
2,Whitney Houston,The Bodyguard,1992,"R&B, soul, pop, soundtrack",45
12,Michael Jackson,Bad,1987,"Pop, rhythm and blues, funk and rock",35
14,Michael Jackson,Dangerous,1991,"New jack swing, R&B and pop",32
15,Celine Dion,Falling into You,1996,"Pop, soft rock",32
19,Celine Dion,Let's Talk About Love,1997,"Pop, soft rock",31
54,Celine Dion,All the Way... A Decade of Song,1999,Pop,22
55,Whitney Houston,Whitney Houston,1985,"Pop, R&B",22
58,Michael Jackson,"HIStory: Past, Present and Future, Book I *",1995,"R&B, pop and hip hop",22
63,Michael Jackson,Off the Wall,1979,"Disco, pop, funk and R&B",20
67,Celine Dion,The Colour of My Love,1993,Pop,20
78,Whitney Houston,Whitney,1987,"Pop, R&B",20

In [8]:
# CHALLENGE 2
# Find all records with Sales of either 25, 35, or 45
# million copies. Note that the 'Sales' column's integers
# reflect album sales in millions. Assign the resulting DataFrame
# to a 'fives' DataFrame
sales = billboard['Sales'].isin([25,35,45])
fives = billboard[sales]
fives

,Artist,Album,Released,Genre,Sales
2,Whitney Houston,The Bodyguard,1992,"R&B, soul, pop, soundtrack",45
12,Michael Jackson,Bad,1987,"Pop, rhythm and blues, funk and rock",35
39,Britney Spears,...Baby One More Time,1999,Pop,25
40,Bob Marley & The Wailers,Legend: The Best of Bob Marley & The Wailers,1984,Reggae,25
41,Carole King,Tapestry,1971,Pop,25
42,Phil Collins,No Jacket Required,1985,Pop rock,25
43,Queen,Greatest Hits,1981,Rock,25
44,Madonna,True Blue,1986,"Pop, dance",25
45,Simon & Garfunkel,Bridge over Troubled Water,1970,Folk rock,25
46,U2,The Joshua Tree,1987,Rock,25
47,Prince and The Revolution,Purple Rain,1984,"Pop rock, new wave, R&B",25
48,George Michael,Faith,1987,"Pop, R&B, funk, soul",25

In [10]:
# CHALLENGE 3
# Find all records released in either 1979, 1989, or 1999.
# Assign the resulting DataFrame to a 'end_of_decade' DataFrame.
search_by_year = billboard['Released'].isin([1979, 1989, 1999])
end_of_decade = billboard[search_by_year]
end_of_decade.sort_values(by='Released')

,Artist,Album,Released,Genre,Sales
26,Pink Floyd,The Wall,1979,Progressive rock,30
63,Michael Jackson,Off the Wall,1979,"Disco, pop, funk and R&B",20
75,Supertramp,Breakfast in America,1979,"Progressive rock, art rock",20
30,Santana,Supernatural,1999,Latin rock,30
51,Backstreet Boys,Millennium,1999,Pop,24
39,Britney Spears,...Baby One More Time,1999,Pop,25
54,Celine Dion,All the Way... A Decade of Song,1999,Pop,22